@charset "UTF-8";




/* LAYOUT */

body {
	background-color: #52360D;
	font-family: 'Titillium Web', sans-serif;
	padding: 0px;
	margin: 0px;
}

nav {
	float: right;
	padding: 30px;
	vertical-align: bottom;
	margin-top: 38px;

}


#content_wrapper {
	width: 90%;
	margin: 0px auto;
	max-width: 1570px;
}

#game {
	margin: 0px;
}

#monkey_info {
	margin: 0px;
}

/* header div */
#welcome {
	width:100%;
	padding: 30px;
	height: 100px;
	background: #6B9B82;
	margin: 0px;
	margin-bottom: 15px;
	position: relative;
}

.welcome_content {
	width: 90%;
	margin: 0px auto;
}

.info {
	width: 600px;
	height: 300px;
	margin: 40px 25px;
	background: #E9A33A;
	border-radius: 20px;
	margin: auto;
	position: relative;
	padding: 25px;
	z-index: 2;
}

.tint {
	background: #000;
	min-width: 100%;
	min-height: 100%;
	margin: 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0.5;
}

/* TEXT */
h1 {
	font-size: 50px;
	font-family: 'Patua One', sans-serif;
	color: #52360D;
	float: left;
}

h2 {
	font-size: 20px;
	font-family: 'Patua One', sans-serif;
	top:0px;
	left:0px;
	font-size: 24px;
	text-align: center;
	position: relative;
}

.wrong p {
	font-weight: 500;
	color: #E9A33A;
}

.wrong h2 {
	font-weight: 700;
	color: #E9A33A;
	font-size: 50px;
	text-shadow: 2px 2px #52360D;
}

.correct h2 {
	font-weight: 700;
	color: #6B9B82;
	font-size: 50px;
	text-shadow: 2px 2px #52360D;
}

strong {
	font-weight: 700;
	text-transform: uppercase;
}

nav a {
	font-size: 20px;
	margin: 15px;
	font-weight: 700;
	color: #52360D;
	text-transform: uppercase;
	text-decoration: none;
}

nav a:active {
	color: #E9A33A;
}

nav a:hover {
	color: #E9A33A;
}

nav a:visited {
	color: #52360D;
}

.info ul {
	position: absolute;
	margin-left: 240px;
	margin-top: 30px;
	list-style: none;
	width: 300px;
	font-size: 18px;
	line-height: 26px;
	color: #52360D;
}

.info h2 {
	position: absolute;
	font-size: 34px;
	margin-left: 25px;
	margin-bottom: 15px;
	margin-top: 15px;
	color: #52360D;
}

/* CONTENT */
.card_front {
	width: 250px;
	height: 250px;
	float: left;
	margin: 25px;
	background: #E9A33A;
	border-radius: 20px;
}

.card_back {
	width: 250px;
	height: 250px;
	float: left;
	margin: 25px;
	background: #6B9B82;
	border-radius: 20px;
}

.opacity {
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */;
	position: relative; 
	top:0px;
	left:0px;
	width: 250px;
	height: 250px;
	background: #E9A33A;
	border-radius: 20px;
	}

.correct {
	width: 250px;
	height: 250px;
	float: left;
	margin: 25px;
	background: #6B9B82;
	border-radius: 20px;
	position: relative; 
	top:0px;
	left:0px;
	font-size: 24px;
	text-align: center;
}	

.wrong {
	width: 250px;
	height: 250px;
	float: left;
	margin: 25px;
	background: #E9A33A;
	border-radius: 20px;
	position: relative; 
	top:0px;
	left:0px;
	font-size: 24px;
	text-align: center;
}

.thumbnail {
	width: 250px;
	height: 250px;
	float: left;
	background: #E9A33A;
	border-radius: 20px;
	position: absolute;
	margin-top: 45px;
}

/*BUTTONS*/

.button {
	height: 50px;
	width: 200px;
	border: 0px;
	border-radius: 10px;
	background-color: #52360D;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	padding: 10px;
	margin: 20px auto;
	position: absolute;
}

.learn {
	height: 70px;
	width: 200px;
	border: 0px;
	border-radius: 10px;
	background-color: #E9A33A;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #52360D;
	opacity: 0.8;
}

.monkey {
	top: 80px;
	left: 50px;
}

.button:hover {
	background-color: #6B9B82;
}

.not_a_monkey {
	top: 150px;
	left: 50px;
}

/* CSS CARD FLIP ANIMATION */
/* entire container, keeps perspective */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 280px;
	height: 280px;
	float: left;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.reverse 	{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
	top:0px;
	left:0px;
	width: 250px;
	height: 250px;
	border-radius: 20px;
}

/* MONKEYS */
.wolfs_monkey {
	background-image: url(images/wolfs_mona_monkey.jpg);
}

.debrazzas {
	background-image: url(images/debrazzas.jpg);
}

.common_squirrel_monkey {
	background-image: url(images/common_squrrel_monkey.jpg);
}

.blackcap_squirrel_monkey {
	background-image: url(images/blackcap_squirrel_monkey.jpg);
}

.barbary {
	background-image: url(images/barbary.jpg);
}

.amazon_monkey {
	background-image: url(images/amazon_monkey.jpg);
}

.brown_woolly {
	background-image: url(images/brown_woolly.jpg);

}

.proboscis {
	background-image: url(images/proboscis.jpg);

}

.spider_monkey {
	background-image: url(images/spider_monkey.jpg);

}	

.langur {
	background-image: url(images/langur.jpg);

}	

.patas {
	background-image: url(images/patas.jpg);

}	

.snubnosed_monkey {
	background-image: url(images/subnosed_monkey.jpg);

}

.pygmy {
	background-image: url(images/pygmy.jpg);

}

/* APES */
.bonobo {
	background-image: url(images/bonobo.jpg);
}

.chimp {
	background-image: url(images/chimp.jpg);
}

.orangutan {
	background-image: url(images/orangutan.jpg);

}

.gorilla {
	background-image: url(images/gorilla.jpg);

}

.gibbon {
	background-image: url(images/gibbon.jpg);

}


/* PROSIMIANS */
.tarsier {
	background-image: url(images/tarsier.jpg);
}

.ringtailed_lemur {
	background-image: url(images/ring_tailed_lemur.jpg);
}

.slow_loris {
		background-image: url(images/slow_loris.jpg);

}

.tarsier {
		background-image: url(images/tarsier.jpg);

}

.galago {
		background-image: url(images/galago.jpg);

}

.potto {
		background-image: url(images/potto.jpg);

}